$phoneplus: "screen and (min-width: 600px)";
$ipad: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 1080px)";
$fourk: "screen and (mind-width: 3000px)";

html,
body,
main {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Yeseva One", cursive;
  scroll-behavior: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
}
