$phoneplus: 'screen and (min-width: 600px)';
$ipad: 'screen and (min-width: 768px)';
$desktop: 'screen and (min-width: 1080px)';
$fourk: 'screen and (mind-width: 3000px)';

html,
body {
  height: 100%;
}

// body {
//   font-family: 'Roboto', sans-serif;
//   padding: 1px 1px 1px 1px;
//   margin: 0 auto;
//   background: black;
//   color: #f2eff1;
//   list-style: none;
//   // for readability - best practice as per thinkful
//   font-size: 20px;
//   @media #{$ipad} {
//     font-size: 30px;
//   }
// }

// a {
//   text-decoration: none;
//   color: #f2eff1;
//   cursor: pointer;
// }

// // remove default ul padding
// ul {
//   padding-left: 0px;
// }

// li {
//   list-style: none;
// }
// p {
//   //for readability - best practice as per thinkful
//   padding-top: 5px;
// }

// // custom styling for RBC from here

// .rbcwrapper {
//   display: flex;
//   justify-content: center;
// }
// .rbc-calendar {
//   text-align: center;
//   flex: 1;
// }

// .rbc-time-view {
//   border-radius: 6px;
// }

// button {
//   color: white !important;
// }

// .rbc-time-header-gutter {
//   height: 0px;
// }

// .rbc-label {
//   font-weight: 300;
// }

// .rbc-time-header,
// .rbc-header {
//   height: 25px;
// }
// .rbc-row {
//   height: 0px;
// }

// .rbc-time-slot {
//   height: 10px;
// }

// .rbc-day-slot,
// .rbc-time-slot {
//   border: none !important;
// }

// .rbc-toolbar-label {
//   font-weight: 300;
//   font-size: 25px;
//   // hackery to stop buttons wrapping around date label
//   margin-left: 50px;
//   margin-right: 50px;
// }

// .rbc-event {
//   background: rgb(146, 33, 67) !important;
//   border: rgb(146, 33, 67) !important;
//   display: inline !important;
// }

// .rbc-agenda-empty {
//   font-weight: 300;
//   text-align: center;
// }

// .rbc-month-row,
// .rbc-event-content {
//   overflow: visible;
// }
// .rbc-row-segment {
//   position: relative;
// }

// .rbc-day-slot .rbc-event {
//   flex-wrap: wrap;
// }
