.formContainer {
  height: 45vh;
  width: 100vw;
  background: #6b98fa;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;

  .titleContainer {
    position: absolute;
    left: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    h1 {
      padding: 20px;
      font-size: 5vw;
      letter-spacing: 2px;
      color: white;
    }

    span {
      color: rgb(206, 24, 206);
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input,
    textarea {
      width: 250px;
    }

    input {
      border: none;
      outline: none;
      background: none;
      border-bottom: 1px solid white;
      color: white;
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        #cf56e3 4%
      );
      background-position: -200px 0;
      color: darken(#cf56e3, 20%);
      height: 30px;

      &:focus {
        border-bottom: 2px solid #cf56e3;
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::placeholder {
          color: #cf56e3;
          font-size: 11px;
          transform: translateY(-12px);
          visibility: visible !important;
          transition: 0.5s;
        }
      }
    }

    textarea {
      border: none;
      outline: none;
      background: none;
      border: 2px solid white;
      color: white;
      font-family: "Roboto", sans-serif;
      height: 80px;
      margin-bottom: -10px;

      &:focus {
        border: 2px solid #cf56e3;
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::placeholder {
          color: #cf56e3;
          font-size: 11px;
          transform: translateY(-22px);
          visibility: visible !important;
          transition: 0.5s;
        }
      }
    }

    #contactButton {
      border: 2px solid white;
      background: none;
      outline: none;
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
      width: 150px;
      color: white;
      font-family: "Yeseva One", cursive;
    }

    #contactButton:hover {
      color: white;
    }

    #contactButton::before {
      content: "";
      position: absolute;
      left: 0;
      width: 130%;
      height: 0%;
      background: #cf56e3;
      z-index: -1;
      transition: 1.2s;
    }

    #contactButton::before {
      top: 0;
      border-radius: 0% 0 135% 20%;
    }

    #contactButton:hover::before {
      height: 180%;
    }

    ::placeholder {
      color: rgb(228, 227, 227);
      bottom: 0;
      font-family: "Yeseva One", cursive;
    }
  }
}

@media (max-width: 800px) {
  .formContainer {
    .titleContainer {
      h1 {
        font-size: 3rem;
        position: absolute;
        top: -100px;
        transition: 0.5s;
      }
    }
  }
}
